/*---------------------*/
/*-----BASIC SETUP-----*/
/*---------------------*/

*{
	margin: 0;
	padding:0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body{
	font-family:Trebuchet MS
}
ul li{
	list-style-type: none;
}
a{
	text-decoration: none;
}

h1{
	


}

hr{
	width: 15%;
	margin: 3rem 0 0rem 46rem;
}
.clearfix::after{
	content: "";
	display:table;
	clear: both;
	height: 0;
	visibility: hidden;
}
/*---------------------*/
/*-----REUSEABLR CONTENT-----*/
/*---------------------*/

.row{
	max-width: 112.4rem;
	margin: 0 auto;
} 

.btn{
	background: red;
	color: white;
	text-transform: uppercase;
	font-size: 1.6rem;
}

section{

	padding: 8rem 0;
}
h2{
	color: #fff;
	font-size: 4.2rem;
	text-transform:uppercase;
	letter-spacing: .3rem;
	font-weight: 600;
	margin-bottom: 2rem;
}

h3{

	font-weight: 60rem;
	font-size: 1.2rem;

}

h4{

	font-weight: 50rem;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: greenyellow;
}

.little-des{
	font-size: 1.8rem;
	line-height: 2.4rem;
	
}

.box{
	padding: 1%;
}
.box p{

	font-size: 1.3rem;
	text-align: justify-all;
	margin-bottom: 2rem;
	margin-top: 2rem;
}


/*---------------------*/
/*-----header section-----*/
/*---------------------*/
header{
	background:-webkit-linear-gradient(#8741ae, #8741ae8a), 
	url(img/sergio-souza-rKOJ_71jdRQ-unsplash.jpg);
	background:-o-linear-gradient(#8741ae, #8741ae8a), 
	url(img/sergio-souza-rKOJ_71jdRQ-unsplash.jpg);
	background:linear-gradient(#8741ae, #8741ae8a), 
	url(img/sergio-souza-rKOJ_71jdRQ-unsplash.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 85vh;
	opacity: .55;
}


.hero-text-box{
	width: 50%;
	margin: 0 auto;
}
.logo{
	height: 3.5rem;
	width: auto;
	margin-top: 3rem;
	margin-left: 5.5rem;
}
.main-nav{
	float: right;
}
.main-nav li{
	display: inline-block;
	margin-top: 3rem;
}
.main-nav li a{
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 2.5rem;
	font-size: 1.7rem;
}
.main-nav li a:hover{
	background: #48424252;
	color: black;
	border-radius: 5rem;
	border-top: .1rem solid black;
	border-bottom: .011rem solid white;
}
.hero-text-box{
	 position: absolute;
	 position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	color: azure;
	font-size: ;
	line-height: 4.2rem;
}
.btn-hero{

	display: inline-block;
	
	margin: 2.1rem auto;
	padding: 0px 2rem;
}
.btn-hero:hover{
	background: greenyellow;
	transition:all .3s ease-in-out;
}
/*mobile mebu css*/

.mobile-menu{

	color: #fff;
	font-size: 3em;
	float: right;
	display: none;
}

/*---------------------*/
/*-----services section-----*/
/*---------------------*/

.services-section{
	background:-webkit-linear-gradient(#17c4a4, #4a8a7ec4), 
	url(img/pexels-photo-1157255.jpeg);
	background:-o-linear-gradient(#17c4a4, #4a8a7ec4), 
	url(img/pexels-photo-1157255.jpeg);
	background:linear-gradient(#17c4a4, #4a8a7ec4), 
	url(img/pexels-photo-1157255.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	height: 
	color: #fff;
	text-align: center;
	background-color:;
}

.services-section .row hr{
	border-bottom: 1px solid #144d2ca3;
	margin: 0 auto;
	margin-bottom: 0px;
	width: 45%;
	margin-bottom: 2rem;
}
.services-icon{

	margin: 41px 0 25px 0px;
	height: 10rem
}

.servicw-des{
	margin-left: 1rem;
}

/*---------------------*/
/*-----Team section-----*/
/*---------------------*/


.team-section {
	text-align: center;
	background: -webkit-linear-gradient(#00c4ff5e, #e7f1f4),
	url(img/pexels-photo-732142.jpeg);
	background: -o-linear-gradient(#00c4ff5e, #e7f1f4),
	url(img/pexels-photo-732142.jpeg);
	background: linear-gradient(#00c4ff5e, #e7f1f4),
	url(img/pexels-photo-732142.jpeg);
	background-repeat: repeat, repeat;
	background-size: auto, auto;
	padding: 1%;
	background-repeat: no-repeat;
	background-size: cover;
}

.team-section h2{
	margin-top: 3rem;
	color: #89b392;
	

}
.team-section hr{
	width: 15%;
	margin: 0 auto;
    margin-top: 0px;
	margin-top: 2rem;

}

.info{

	margin: 0
}
.team-section .little-des{
	color: #000;
	text-align: justify;
	margin: 0 auto;
	margin-left: auto;
	margin-left: 29rem;
}

.team-member{
	
	height: 20rem;
	width: 20rem;
	border-radius: 50%;
}


.team-section h4{

	color: #ddd;
	margin-top: 1rem;
}
.role{
	margin-bottom: 1rem;
	color: #30bcde;

}
.social-link{
	margin-top: 2.5rem;

}

.social-link ul li{
	
	display: inline-block;
	color: #ddd;
	margin: 0 .5rem;
}

.social-link ul li a{
	color: #aaa;
	background:#c0cac8; 
	height:2rem;
	width: 2rem;
	border-radius: 50%;
	padding:1rem;
	font-size: 1.6rem;
	transition: .5s;

}

.social-link ul li a:hover{

	background: greenyellow;

	transform: rotate(350deg);
	
}
/*---------------------*/
/*-----Skill section-----*/
/*---------------------*/

.skill-section{

	background:  whitesmoke;
}

.skill-section h2{

	color: #9f5454;
	margin-left: 26rem;
	margin-bottom: 5rem;
}
.skill-section p{

	text-align: center;
	color: #606097;

}

svg.radial-progress circle{
	stroke-width: 5;

}

svg.radial-progress text{
	fill: red;
	font-size: 2rem;
}
svg.web-devolpment circle{

	stroke: #5ab3a2;

}

svg.graphic-design circle{

	stroke: #5a89b3;

}

svg.web-design circle{

	stroke: #5ab35a;

}

svg.ui circle{

	stroke: #b36f5a;

}

.skill-section .col:nth-child(2){
	margin: 1% 0 1% -0.4%
}


/*---------------------*/
/*---- portfolio section-----*/
/*---------------------*/

.portfoli-section{

	 background: yellow;
}
.portfoli-section h2{

	margin-left: 1rem;
	color: #2ac859;
	text-align: center;
}

.portfoli-section p{
	color: #7400a882;
	text-align: center;
	margin-left: 1rem;
	font-size: 3rem
}

.port-btn{
	margin:3% 0% 5% 37% ;
}
.port-btn button{

	margin-left: 1rem;
	padding: 1rem;
	text-transform: uppercase;
	background: bisque;
	border: 0;
	border-radius: .5rem;
	font-size: 1rem;
	color: brown;
}

.port-btn button:hover{

	background: #bcff05;
	cursor: pointer;
	box-shadow: 1px 2px 3px 2px;
}

.portfoli-section img{

	height: 100%;
	width: 30rem;
}

.portfoli-section .col:nth-child(3){
	margin-left: 0;
}


/*---------------------*/
/*---- testimonial section-----*/
/*---------------------*/

.testimonial{
	background: #f484b4;
}

.testimonial h2{

	color: red;
	margin-left: 20rem;
}

.testimonial p{

	font-size: 05rem;
	margin-left: 37rem;
}
.testimonial img{
	height: 13rem;
	width: 14rem; 
}

.testimonial .col:nth-child(1),
.testimonial .col:nth-child(2),
{
	margin-top: 4rem;
}
.testimonial .col:nth-child(3),
.testimonial .col:nth-child(4){
	margin-top: 8rem;
}

.client-img{
	width: 10rem;
	float: left;
}

.client-img img{
	height: 8rem;
	border-radius: 50%;
	width: 10rem;
	margin-bottom: 3rem;
}

.client-review{
	float: left;
	margin-top: 2.3rem;
	margin-left: 3rem;
	width: 30rem;
}

.role{
	font-size:1.5rem ;
}


.contact-section{

	background: #2b2bc6;
	opacity: 0.9;
}
 .contact-section h3{
	width: 14rem;
	margin: auto;
	margin-bottom: auto;
	margin-bottom: 3rem;
	font-size: 2rem;
	color: bisque;
 }
.contact-section p{
	width: 100%;
	text-align: center;
	color: aliceblue;
	margin-bottom: 3rem;
}


.contact-section form{
	width: 70%;
	margin: auto;
}


.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea{

	background: #273a71;
	border: .1rem solid #273a71;
	border-radius: .5rem;
	padding: 2.5rem;
	width: 100%;
	color: aliceblue;
	font-size: large;
	text-transform: uppercase;

}

.contact-section .port-btn2{

	width: 30%;
	padding: 2rem;
	margin-left: 28rem;
	margin-top: 3rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: #1e1313;
}

.contact-section .port-btn2:hover{

	box-shadow: .1rem .1rem 1rem aqua;
	cursor: pointer;
}

.footer-section{
	background: #5656c6;
	border-top: .25rem solid #d2c5c536;
	padding: 5rem;
}
.footer-section .social{
	width: 100%;

}
.footer-section .social li{
	display: inline-block;
}
.footer-section .social li a{
	padding: 1rem;
	margin-left: 10rem;
	font-size: 2rem;
	text-transform: uppercase;
	color: azure;
}

.footer-section .social li a:hover{
	box-shadow: 0.1rem 0.1rem 1.1rem 0rem red;
}